*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: sans-serif;
    background: #cecece;
}

.nav-brand{
    width: 100%;
    height: 50px;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #007bff;
}

.nav-brand__logo > a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 7px;
}

.nav-brand__logo > a > i{
    font-size: 28px;
}

.nav-brand__logo > a > span{
    font-size: 16px;
}

.nav-brand__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nav-brand__btn > input{
    width: 30px;
    height: 30px;
    cursor: pointer;
    opacity: 0;
}

.nav-brand__btn > button{
    width: 30px;
    height: 30px;
    font-size: 22px;
    background: transparent;
    outline: none;
    border: none;
    color: #fff;
    position: absolute;
    pointer-events: none;
}

/*  */

.navbar{
    width: 100%;
    height: 35px;
    background: #007bff;
}

.navbar > nav{
    width: 100%;
    height: 100%;
}

.navbar > nav > ul{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    list-style: none;
    column-gap: 5px;
}

.navbar > nav > ul > li{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.navbar > nav > ul > li > input{
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
    opacity: 0;
}

.navbar > nav > ul > li > input::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #fff;
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all .2s;
    z-index: 100;
}

.navbar > nav > ul > li > span{
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
}

/* ipt:checked */
.navbar > nav > ul > li > input:checked::after{
    opacity: 1;
}

/* chats */
.chats{
    width: 100%;
    height: 100vh;
    background: #fff;
    position: fixed;
    top: 85px;
    left: -100%;
    transition: all .1s;
    z-index: 5;
    overflow-y: scroll;
    /*  */
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 85px;
}

.chats::-webkit-scrollbar{
    width: 5px;
}

.chats:hover::-webkit-scrollbar-thumb{
    background: #8080807a;
}

.chat{
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
    flex-shrink: 0;
}

.chat:hover{
    background: #cecece3b;
}

.chat__image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat__image > img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.chat__info{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 5px;
}

.chat__info > .chat__info-title{
    width: 60vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    font-size: 16px;
}
.chat__info > .chat__info-lst-msg{
    width: 60vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    color: #484848;
}

.chat__date{
    font-size: 11.5px;
    color: #48484892;
    font-weight: bold;
    white-space: nowrap;
    align-self: flex-start;
    padding-top: 4px;
}

.navbar > nav > ul > li > input:checked ~ .chats{
    left: 0;
}

/* status */
.status{
    width: 100%;
    height: 100vh;
    background: #fff;
    position: fixed;
    top: 85px;
    bottom: -100vh;
    transition: all .1s;
    z-index: 4;
    color: #fff;
    overflow-y: scroll;
    padding-bottom: 85px;
}

.status::-webkit-scrollbar{
    width: 5px;
}

.status:hover::-webkit-scrollbar-thumb{
    background: #8080807a;
}

.navbar > nav > ul > li > input:checked ~ .status{
    bottom: 0;
}

/*  */
.status__create{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
    column-gap: 10px;
}

.status__create > .status__create-img{
    position: relative;
}

.status__create > .status__create-img > img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.status__create-img > .status__create-img-plus{
    width: 20px;
    height: 20px;
    background: #007bff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    font-size: 18px;
    padding-top: 1px;
    position: absolute;
    bottom: 0;
    right: 0;
    outline: 2px solid #fff;
}

.status__info{
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 5px;
}

.status__info > span:first-child{
    color: #000;
    font-weight: bold;
    font-size: 16px;
}

.status__info > span:last-child{
    font-size: 14px;
    color: #484848;
}

/* recent status */

.status__recents{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    margin: 20px 0;
}

.status__recents-title{
    padding: 0 10px;
    color: gray;
    font-weight: bold;
    font-size: 14px;
}

/*  */

.muted{
    opacity: .5;
}

.status__muted > details > summary{
    cursor: pointer;
    user-select: none;
}




/* settings */
.settings{
    width: 100%;
    height: 100vh;
    background: #fff;
    position: fixed;
    top: 85px;
    right: -100%;
    transition: all .1s;
    z-index: 5;
    overflow-y: scroll;
    padding-bottom: 85px;
    /*  */
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar > nav > ul > li > input:checked ~ .settings{
    right: 0;
}

/*  */

.settings > div{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.settings > div > i{
    font-size: 90px;
    color: #007bff;
}

.settings > div > span{
    text-align: center;
    color: gray;
}
